body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.background-container {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #c2e59c, #64b3f4);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; /* Upper margin */
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.account-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.action-button {
    background-color: #32cd32;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 48%;
    text-align: center;
}

.action-button:hover {
    background-color: #28a428;
}

.cancel-button {
    background-color: #e74c3c;
}

.cancel-button:hover {
    background-color: #c44134;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
