body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
}

.background-container {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #c2e59c, #64b3f4);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; /* Upper margin */
    box-sizing: border-box;
}

.container {
    display: grid;
    gap: 20px;
    max-width: 900px;
    width: 100%;
}

/* Responsive Design */
@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.card p {
    background-color: #32cd32;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
